.bundle

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal

config/database.yml

# Ignore all logfiles and tempfiles.
log/*.log
tmp/

public/assets/
backup/
.DS_Store
vendor/bundle/*
