/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import 'font-awesome';

body {
  > .navbar > .navbar-inner {
    background: #234;
    padding: 5px;
  }

  .content {
    margin-top: 15px;

    > h1, h2, h3 {
      margin: 15px 0;
      font-weight: normal;
    }

    > h2 {
      font-size: 24px;
    }

    > h3 {
      font-size: 20px;
    }
  }
}

.ui-block {
  background: #f9f9f9;
  padding: 20px;
}

.cgray {
  color: gray;
}

.password {
  font-size: 18px;
  font-family: 'Menlo', 'Liberation Mono', 'Consolas', 'Courier New', 'andale mono', 'lucida console', monospace;
}

.avatar {
  border-radius: 4px;
  width: 28px;
  margin: 6px 0;
}

.brand-letter {
  background: #AAA;
  padding: 15px;
  color: #111;
}
